<div class="bg-white py-12">
  <!-- Section Title -->
  <div class="text-center mb-12">
    <h2 class="text-4xl font-bold text-blue-600">Ưu đãi</h2>
    <p class="text-gray-500 mt-2">
      Khuyến mãi, giảm giá và ưu đãi đặc biệt dành riêng cho bạn
    </p>
    <!-- Divider -->
    <div class="flex justify-center mt-4">
      <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
    </div>
  </div>

  <!-- Promotions Grid -->
  <div
    class="max-w-screen-xl mx-auto grid sm:grid-cols-1 md:grid-cols-3 gap-6 px-4"
  >
    <!-- Promotion 1 -->
    <a
      href="#"
      class="block rounded-xl overflow-hidden shadow-lg transition hover:shadow-xl hover:scale-105 duration-300"
    >
      <img
        [src]="sale[0]"
        alt="Welcome to Quang Binh"
        class="w-full h-64 object-cover"
      />
    </a>

    <!-- Promotion 2 -->
    <a
      href="#"
      class="block rounded-xl overflow-hidden shadow-lg transition hover:shadow-xl hover:scale-105 duration-300"
    >
      <img
        [src]="sale[1]"
        alt="Hello Hong Kong"
        class="w-full h-64 object-cover"
      />
    </a>

    <!-- Promotion 3 -->
    <a
      href="#"
      class="block rounded-xl overflow-hidden shadow-lg transition hover:shadow-xl hover:scale-105 duration-300"
    >
      <img
        [src]="sale[2]"
        alt="Khám phá Tây Bắc"
        class="w-full h-64 object-cover"
      />
    </a>
  </div>
</div>

<div class="mx-auto px-4 py-8 bg-white">
  <!-- Tiêu đề -->
  <h2 class="text-3xl font-bold text-center text-blue-600 mb-4">
    Điểm đến yêu thích
  </h2>
  <p class="text-center text-gray-500 mb-4">
    Tour du lịch Trong nước với OH!Travel. Hành hương đầu xuân - Tận hưởng bản
    sắc Việt.
  </p>
  <div class="flex justify-center mb-8">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  <!-- Lưới điểm đến -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-[115px]"
  >
    <!-- Mỗi item trong grid là một link -->
    <a
      *ngFor="let tour of bestTours"
      href="#"
      class="relative block banner ratio1 overflow-hidden rounded-lg shadow-lg group"
    >
      <!-- Image -->
      <img [src]="tour.image" [alt]="tour.name" class="w-full h-64" />
      <!-- Background overlay & Text -->
      <span class="absolute text-center">
        <b class="mb-2 text2line">{{ tour.name }}</b>
        Đã có {{ tour.total_customer }} lượt khách
      </span>
    </a>
  </div>
</div>

<div class="container mx-auto py-8 bg-white px-[115px]">
  <h2 class="text-[32px] font-bold text-blue-600 text-center mb-2">
    Ưu đãi tour giờ chót
  </h2>
  <p class="text-center text-gray-500 mb-2">
    Cùng OH!Travel nhanh tay đặt ngay tour ngay hôm nay!
  </p>
  <div class="flex justify-center mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  <!-- Grid layout -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <!-- Tour Item 1 -->
    <div
      *ngFor="let tour of tours"
      class="border rounded-lg overflow-hidden shadow-lg transition hover:shadow-3xl tour duration-300"
    >
      <img
        [src]="tour.image"
        [alt]="tour.name"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h3
          (click)="viewTourDetails(tour.id)"
          class="font-semibold text-lg hover:text-blue-600 hover:cursor-pointer"
        >
          {{ tour.name }}
        </h3>
        <p class="text-sm text-gray-600">
          Hồ Tràm - Phan Thiết - Mũi Né - Công Viên Tropicana
        </p>
        <div class="flex items-center text-sm text-gray-500 mt-2">
          <span class="mr-2">
            <i class="fas fa-calendar-alt mr-2"></i>
            Khởi hành: {{ tour.startDate | date : "dd/MM/yyyy" }}</span
          >
          <span class="flex items-center">
            <svg
              class="w-4 h-4 mr-1 text-gray-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 2a10 10 0 100 20 10 10 0 000-20zm0 2a8 8 0 110 16 8 8 0 010-16zm-1 3v6l5 2 .75-1.5-4.25-1.75V7h-1.5z"
              />
            </svg>
            Thời gian: {{ tour.duration }} ngày
          </span>
        </div>
        <div class="flex items-center mt-2">
          <span class="line-through text-gray-500 text-sm">{{
            tour.price + tour.price * 0.1 | currency : "VND"
          }}</span>
          <span class="text-red-500 font-semibold text-lg ml-2">{{
            tour.price | currency : "VND"
          }}</span>
          <span class="ml-2 text-red-600 text-sm">-9%</span>
        </div>
        <div
          class="flex items-center justify-between mt-2 mb-4 text-sm text-gray-500"
        >
          <span>Hết ưu đãi</span>
          <span>Còn lại 6 chỗ</span>
        </div>
        <a
          href="#"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-[158px] py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Đặt ngay
        </a>
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-8">
    <a
      routerLink="/tours"
      class="text-blue-600 font-medium text-sm px-2 py-2.5 cursor-pointer"
    >
      Xem tất cả
    </a>
    <span class="py-3">
      <svg
        fill="#2563eb"
        class="size-4 text-blue-600"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 330 330"
        xml:space="preserve"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            id="XMLID_27_"
            d="M15,180h263.787l-49.394,49.394c-5.858,5.857-5.858,15.355,0,21.213C232.322,253.535,236.161,255,240,255 s7.678-1.465,10.606-4.394l75-75c5.858-5.857,5.858-15.355,0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213,0 c-5.858,5.857-5.858,15.355,0,21.213L278.787,150H15c-8.284,0-15,6.716-15,15S6.716,180,15,180z"
          ></path>
        </g>
      </svg>
    </span>
  </div>
</div>

<div class="container mx-auto py-8 bg-white px-[115px]">
  <h2 class="text-[32px] font-bold text-blue-600 text-center mb-2">
    Du lịch trong nước
  </h2>
  <p class="text-center text-gray-500 mb-2">
    Cùng OH!Travel nhanh tay đặt ngay tour ngay hôm nay!
  </p>
  <div class="flex justify-center mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  <!-- Grid layout -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <!-- Tour Item 1 -->
    <div
      *ngFor="let tour of vietnamTours"
      class="border rounded-lg overflow-hidden shadow-lg transition hover:shadow-3xl tour duration-300"
    >
      <img
        [src]="tour.image"
        [alt]="tour.name"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h3
          (click)="viewTourDetails(tour.id)"
          class="font-semibold text-lg hover:text-blue-600 hover:cursor-pointer"
        >
          {{ tour.name }}
        </h3>
        <div class="flex flex-col items-left text-sm text-gray-500 mt-2">
          <span class="mr-2 text-gray-400"
            ><i class="fas fa-calendar-alt mr-2"></i>Khởi hành:<span
              class="text-black"
            >
              {{ tour.startDate | date : "dd/MM/yyyy" }}</span
            ></span
          >
          <span class="flex items-center text-gray-400">
            <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 2a10 10 0 100 20 10 10 0 000-20zm0 2a8 8 0 110 16 8 8 0 010-16zm-1 3v6l5 2 .75-1.5-4.25-1.75V7h-1.5z"
              />
            </svg>
            Thời gian: <span class="text-black">{{ tour.duration }} ngày</span>
          </span>
        </div>
        <div class="flex items-center mt-2">
          <span class="line-through text-gray-500 text-sm">{{
            tour.price + tour.price * 0.1 | currency : "VND"
          }}</span>
          <span class="text-red-500 font-semibold text-lg ml-2">{{
            tour.price | currency : "VND"
          }}</span>
          <span class="ml-2 text-red-600 text-sm">-10%</span>
        </div>
        <div
          class="flex items-center justify-between mt-2 mb-4 text-sm text-gray-500"
        >
          <span>Hết ưu đãi</span>
          <span>Còn lại 6 chỗ</span>
        </div>
        <a
          href="#"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-[106px] py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Đặt ngay
        </a>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-8">
    <a
      routerLink="/tours"
      class="text-blue-600 font-medium text-sm px-2 py-2.5 cursor-pointer"
    >
      Xem tất cả
    </a>
    <span class="py-3">
      <svg
        fill="#2563eb"
        class="size-4 text-blue-600"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 330 330"
        xml:space="preserve"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            id="XMLID_27_"
            d="M15,180h263.787l-49.394,49.394c-5.858,5.857-5.858,15.355,0,21.213C232.322,253.535,236.161,255,240,255 s7.678-1.465,10.606-4.394l75-75c5.858-5.857,5.858-15.355,0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213,0 c-5.858,5.857-5.858,15.355,0,21.213L278.787,150H15c-8.284,0-15,6.716-15,15S6.716,180,15,180z"
          ></path>
        </g>
      </svg>
    </span>
  </div>
</div>

<div class="container mx-auto py-8 bg-white px-[115px]">
  <h2 class="text-[32px] font-bold text-blue-600 text-center mb-2">
    Du lịch nước ngoài
  </h2>
  <p class="text-center text-gray-500 mb-2">
    Cùng OH!Travel nhanh tay đặt ngay tour ngay hôm nay!
  </p>
  <div class="flex justify-center mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  <!-- Grid layout -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <!-- Tour Item 1 -->
    <div
      *ngFor="let tour of overseaTours"
      class="border rounded-lg overflow-hidden shadow-lg transition hover:shadow-3xl tour duration-300"
    >
      <img
        [src]="tour.image"
        [alt]="tour.name"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h3
          (click)="viewTourDetails(tour.id)"
          class="font-semibold text-lg hover:text-blue-600 hover:cursor-pointer"
        >
          {{ tour.name }}
        </h3>
        <div class="flex flex-col items-left text-sm text-gray-500 mt-2">
          <span class="mr-2 text-gray-400"
            ><i class="fas fa-calendar-alt mr-2"></i>Khởi hành:<span
              class="text-black"
            >
              {{ tour.startDate | date : "dd/MM/yyyy" }}</span
            ></span
          >
          <span class="flex items-center text-gray-400">
            <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 2a10 10 0 100 20 10 10 0 000-20zm0 2a8 8 0 110 16 8 8 0 010-16zm-1 3v6l5 2 .75-1.5-4.25-1.75V7h-1.5z"
              />
            </svg>
            Thời gian: <span class="text-black">{{ tour.duration }} ngày</span>
          </span>
        </div>
        <div class="flex items-center mt-2">
          <span class="line-through text-gray-500 text-sm">{{
            tour.price + tour.price * 0.1 | currency : "VND"
          }}</span>
          <span class="text-red-500 font-semibold text-lg ml-2">{{
            tour.price | currency : "VND"
          }}</span>
          <span class="ml-2 text-red-600 text-sm">-10%</span>
        </div>
        <div
          class="flex items-center justify-between mt-2 mb-4 text-sm text-gray-500"
        >
          <span>Hết ưu đãi</span>
          <span>Còn lại 6 chỗ</span>
        </div>
        <a
          href="#"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm mobile:px-[50px] tablet:px-[70px] desktop:px-[106px] py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Đặt ngay
        </a>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-8">
    <a
      routerLink="/tours"
      class="text-blue-600 font-medium text-sm px-2 py-2.5 cursor-pointer"
    >
      Xem tất cả
    </a>
    <span class="py-3">
      <svg
        fill="#2563eb"
        class="size-4 text-blue-600"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 330 330"
        xml:space="preserve"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            id="XMLID_27_"
            d="M15,180h263.787l-49.394,49.394c-5.858,5.857-5.858,15.355,0,21.213C232.322,253.535,236.161,255,240,255 s7.678-1.465,10.606-4.394l75-75c5.858-5.857,5.858-15.355,0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213,0 c-5.858,5.857-5.858,15.355,0,21.213L278.787,150H15c-8.284,0-15,6.716-15,15S6.716,180,15,180z"
          ></path>
        </g>
      </svg>
    </span>
  </div>
</div>
<div class="container mx-auto py-8 bg-white px-[115px]">
  <h2 class="text-3xl font-bold text-center mb-2 text-blue-600">
    Tin tức mới nhất
  </h2>
  <p class="text-center text-gray-500 mb-2">
    Tour du lịch Trong nước với OH!Travel. Hành hương đầu xuân - Tận hưởng bản
    sắc Việt.
  </p>
  <div class="flex justify-center mb-5">
    <div class="w-16 h-1 bg-gray-300 rounded-full"></div>
  </div>

  <!-- News Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- News Item 1 -->
    <div
      class="bg-white shadow-lg rounded-lg overflow-hidden"
      *ngFor="let news of latestNews"
    >
      <img
        [src]="news.image"
        alt="Tour Image"
        class="w-full h-48 object-cover"
      />
      <div class="p-4">
        <h3 class="text-lg font-semibold mb-2">{{ news.title }}</h3>
        <p class="text-gray-500 text-sm flex items-center mb-4">
          <i class="fas fa-calendar-alt mr-3"></i
          ><span class="mr-2">{{ news.created_at | date : "dd/MM/yyy" }}</span>
          <span class="text-gray-700 mr-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-5"
            >
              <path
                fill-rule="evenodd"
                d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                clip-rule="evenodd"
              /></svg></span
          >{{ news.author }}
        </p>
        <p class="text-gray-700 text-sm">
          {{ news.content }}
        </p>
      </div>
    </div>
  </div>
</div>
