<header class="header-custom">
  <!-- <app-navbar></app-navbar> -->
  <div
    class="relative h-[710px] flex flex-col items-center justify-center text-white"
  >
    <!-- Phần thông tin giới thiệu -->
    <div class="text-center mb-10">
      <h1 class="text-4xl font-bold">
        Du lịch dễ dàng khắp mọi nơi cùng OH!Travel
      </h1>
      <p class="mt-4 max-w-2xl mx-auto">
        Với nguồn lực dồi dào, kinh nghiệm và uy tín trong lĩnh vực dịch vụ du
        lịch, OH!Travel luôn nỗ lực mang đến cho khách hàng những dịch vụ du
        lịch giá trị nhất.
      </p>
    </div>

    <!-- Phần tabs và form tìm kiếm -->
    <div class="p-6 w-full max-w-[1200px]">
      <!-- Tabs -->
      <div class="flex px-[270px]">
        <!-- DU LỊCH TRONG NƯỚC Tab -->
        <button
          class="tab-button relative bg-white font-medium text-[15px] px-3 py-4 text-black w-[200px] rounded-tl-lg hover:text-blue-600 focus:text-blue-600"
        >
          DU LỊCH TRONG NƯỚC
        </button>

        <!-- DU LỊCH NƯỚC NGOÀI Tab -->
        <button
          class="tab-button relative bg-white font-medium text-[15px] px-3 py-4 text-black w-[200px] hover:text-blue-600 focus:text-blue-600"
        >
          DU LỊCH NƯỚC NGOÀI
        </button>

        <!-- TRA CỨU BOOKING Tab -->
        <button
          class="tab-button relative bg-white font-medium text-[15px] px-3 py-4 text-black w-[200px] rounded-tr-lg hover:text-blue-600 focus:text-blue-600"
        >
          TRA CỨU BOOKING
        </button>
      </div>

      <!-- Form tìm kiếm -->
      <form
        class="bg-white rounded-lg shadow-lg flex flex-row gap-4 items-center py-6 px-8 text-black"
      >
        <div class="flex items-center justify-center space-x-4">
          <!-- Từ khóa -->
          <div class="flex-1 w-[275px]">
            <input
              type="text"
              placeholder="Từ khóa (Hà Nội, HCM)..."
              class="w-full border border-gray-300 rounded-lg p-4 focus:outline-none"
            />
          </div>

          <!-- Điểm đi -->
          <div
            class="flex flex-row border border-gray-300 rounded-lg w-[200px]"
          >
            <div class="basis-1/12 pt-[15px] pl-[12px]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-blue-600"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                />
              </svg>
            </div>
            <div class="flex-grow">
              <select
                class="w-full p-5 pl-[8px] border-gray-300 rounded-tr-lg rounded-br-lg focus:outline-none"
              >
                <option value="" disabled selected>Chọn điểm đi</option>
                <option value="Hà Nội">Hà Nội</option>
                <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                <option value="Đà Nẵng">Đà Nẵng</option>
              </select>
            </div>
          </div>

          <!-- Điểm đến -->
          <div
            class="flex flex-row border border-gray-300 rounded-lg w-[200px]"
          >
            <div class="basis-1/12 pt-[15px] pl-[12px]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-blue-600"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                />
              </svg>
            </div>
            <div class="flex-grow">
              <select
                class="w-full p-5 pl-[8px] border-gray-300 rounded-tr-lg rounded-br-lg focus:outline-none"
              >
                <option value="" disabled selected>Chọn điểm đến</option>
                <option value="Phú Quốc">Phú Quốc</option>
                <option value="Nha Trang">Nha Trang</option>
                <option value="Hạ Long">Hạ Long</option>
              </select>
            </div>
          </div>

          <!-- Ngày đi -->
          <div class="flex-1 w-[200px]">
            <input
              type="date"
              value="2026-04-07"
              class="w-full border border-gray-300 rounded-lg p-4 focus:outline-none"
            />
          </div>

          <!-- Tìm kiếm button -->
          <div class="flex-none">
            <button
              class="bg-blue-500 text-white font-bold py-4 px-14 text-center rounded-lg hover:bg-blue-600 focus:outline-none"
            >
              Tìm kiếm
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>
