.footer-custom {
  border-bottom: 0.1px dashed rgb(168, 158, 158);
}

.footer-color {
  background-image: url('../../assets/images/bg_footer.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 100%;
}

.footer-bg,
.footer-color {
  background-color: #006CAA;
}

.copyright {
  border-top: 0.1px solid rgb(168, 158, 158);
}