<div class="min-h-[75vh] flex items-center justify-center bg-white">
  <div class="bg-white p-5 rounded-lg shadow-md w-full max-w-xl">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-6">
        <p class="text-3xl font-medium mb-1">ĐĂNG NHẬP</p>
        <p class="text-base text-black">
          Nếu bạn chưa có tài khoản,
          <a href="#" class="text-blue-500">đăng ký tại đây</a>
        </p>
      </div>

      <!-- Email Input -->
      <div class="mb-4">
        <input
          type="email"
          placeholder="Email"
          formControlName="usernameOrEmail"
          class="bg-gray-200 w-full px-5 py-3 rounded-md focus:outline-none focus:border-none"
        />
      </div>

      <!-- Password Input -->
      <div class="mb-6">
        <input
          type="password"
          formControlName="password"
          placeholder="Mật khẩu"
          class="bg-gray-200 w-full px-5 py-3 rounded-md focus:outline-none focus:border-none"
        />
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-red-500 mb-4">
        {{ errorMessage }}
      </div>

      <!-- Login Button -->
      <div class="mb-4">
        <button
          type="submit"
          class="w-full bg-blue-500 text-white border py-3 rounded-md font-medium hover:bg-white hover:text-blue-500 hover:border-blue-500 hover:border duration-200"
        >
          Đăng nhập
        </button>
      </div>
    </form>

    <!-- Forgot Password and Social Login -->
    <div class="text-center">
      <a href="#" class="text-sm hover:text-blue-500">Quên mật khẩu</a>
      <p class="text-gray-500 mt-4">Hoặc đăng nhập bằng</p>

      <div class="flex justify-center space-x-4 mt-4">
        <!-- Facebook Login -->
        <button
          class="flex items-center space-x-2 bg-blue-600 text-white px-4 py-2 hover:bg-blue-700"
        >
          <svg
            fill="#ffffff"
            height="20px"
            width="20px"
            class="text-white"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 310 310"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="#CCCCCC"
              stroke-width="6.82"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="XMLID_834_">
                <path
                  id="XMLID_835_"
                  d="M81.703,165.106h33.981V305c0,2.762,2.238,5,5,5h57.616c2.762,0,5-2.238,5-5V165.765h39.064 c2.54,0,4.677-1.906,4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899c-0.949-1.064-2.307-1.673-3.732-1.673h-44.996 V71.978c0-9.732,5.24-14.667,15.576-14.667c1.473,0,29.42,0,29.42,0c2.762,0,5-2.239,5-5V5.037c0-2.762-2.238-5-5-5h-40.545 C187.467,0.023,186.832,0,185.896,0c-7.035,0-31.488,1.381-50.804,19.151c-21.402,19.692-18.427,43.27-17.716,47.358v37.752H81.703 c-2.762,0-5,2.238-5,5v50.844C76.703,162.867,78.941,165.106,81.703,165.106z"
                ></path>
              </g>
            </g>
          </svg>
          <span class="text-[12px]">Facebook</span>
        </button>

        <!-- Google Login -->
        <button
          class="flex items-center space-x-2 bg-red-500 text-white text-[20px] px-4 py-2 hover:bg-red-600"
        >
          <svg
            fill="#ffffff"
            height="20px"
            width="20px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 315 315"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="XMLID_510_">
                <path
                  id="XMLID_511_"
                  d="M307.5,136.892h-19.791V117.1c0-4.143-3.357-7.5-7.5-7.5h-26.717c-4.143,0-7.5,3.357-7.5,7.5v19.792 h-19.791c-4.143,0-7.5,3.357-7.5,7.5v26.717c0,4.143,3.357,7.5,7.5,7.5h19.791v19.792c0,4.142,3.357,7.5,7.5,7.5h26.717 c4.143,0,7.5-3.358,7.5-7.5v-19.792H307.5c4.143,0,7.5-3.357,7.5-7.5v-26.717C315,140.249,311.643,136.892,307.5,136.892z"
                ></path>
                <path
                  id="XMLID_512_"
                  d="M101.906,104.16c9.088,0,17.823,2.45,25.274,7.087l8.513,5.825c2.967,2.03,6.958,1.671,9.514-0.861 l24.828-24.596c1.589-1.574,2.392-3.774,2.191-6.001c-0.2-2.227-1.384-4.248-3.228-5.513l-14.43-9.896 c-0.294-0.201-0.603-0.382-0.922-0.539l-13.979-6.902c-0.185-0.092-0.374-0.176-0.566-0.252 c-12.042-4.754-24.729-7.165-37.708-7.165c-26.757,0-51.996,10.27-71.068,28.915c-19.367,18.934-30.137,44.681-30.323,72.499 c-0.187,27.824,10.239,53.72,29.355,72.916c18.968,19.049,45.879,29.975,73.834,29.975c27.658,0,53.608-10.739,71.195-29.463 c13.931-14.831,22.48-34.641,24.727-57.288c0.021-0.215,0.034-0.43,0.036-0.645l0.26-20.345c0.006-0.421-0.024-0.841-0.09-1.257 l-1.09-6.953c-0.571-3.649-3.716-6.339-7.409-6.339h-86.672c-4.143,0-7.5,3.358-7.5,7.5v29.982c0,4.142,3.357,7.5,7.5,7.5h44.186 c-2.025,4.439-5.216,9.12-9.251,13.482c-8.801,9.518-21.926,14.977-36.01,14.977c-14.383,0-28.157-5.636-37.79-15.462 c-20.052-20.448-19.822-56.077,0.489-76.245C75.334,109.605,88.505,104.16,101.906,104.16z"
                ></path>
              </g>
            </g>
          </svg>
          <span class="text-[12px]">Google</span>
        </button>
      </div>
    </div>
  </div>
</div>
