.tab-button:hover::before,
.tab-button:focus::before {
  background-color: #2563eb; /* Tailwind's blue-600 */
}

.tab-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* 2/3 width */
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}